.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 170px;
  padding-top: 2rem;
}
.slider-div {
  width: 572px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(54, 69, 79, 0.69) 6.77%,
    rgba(151, 161, 50, 0.71) 100%
  );
  padding: 20px;
  gap: 40px;
  border-radius: 14px;
}
.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-img img {
  width: 348px;
  height: 316px;
  object-fit: cover;
}
.thumb-img {
  width: 100%;
  height: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail {
  width: 100%;
}
.thumbnail ul {
  display: flex;
  gap: 20px;
}
.thumbnail ul li {
  flex: 0.5;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  background: #36454f;
  border: 4px solid #36454f !important;
}
.splide__track--nav > .splide__list > .splide__slide {
  border: 4px solid #36454f !important;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.splide__arrow--next {
  left: 8% !important;
  right: none;
}
.splide__arrow--prev {
  left: 0 !important;
  right: none;
}
.splide__arrow {
  top: 3% !important;
  background: #9aa71c !important;
  opacity: 1 !important;
  height: 34px !important;
  width: 34px !important;
}
.splide__arrow svg {
  fill: white !important;
}
.mint-func-div-cont {
  position: fixed;
  right: 11%;
}
.mint-func-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  max-width: 350px;
  text-align: center;
}
.mint-func-div p {
  color: white;
}
.desc-about {
  width: 100%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.modal {
  padding: 30px 20px;
  width: 70%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 450px;
  overflow-y: scroll;
  background: linear-gradient(
    180deg,
    rgba(54, 69, 79, 0.69) 6.77%,
    rgba(151, 161, 50, 0.71) 100%
  );
  border-radius: 14px;
  justify-content: center;
  align-items: flex-start;
  z-index: 7;
}
.modal svg {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.69);
  z-index: 6;
}
.about-mon {
  display: none;
}
.modal-open {
  display: flex;
}
.overlay-open {
  display: block;
}
@media screen and (max-width: 1686px) {
  .mint-func-div-cont {
    right: 9%;
  }
}
@media screen and (max-width: 1490px) {
  .mint-func-div-cont {
    right: 8%;
  }
  .about {
    padding-left: 25px;
  }
}
@media screen and (max-width: 1244px) {
  .mint-func-div-cont {
    right: 8%;
    max-width: 300px;
  }
}
@media screen and (max-width: 1136px) {
  .mint-func-div-cont {
    right: 7%;
  }
  .about {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1112px) {
  .mint-func-div-cont {
    right: 0%;
    top: 0%;
    position: relative;
  }
  .mint-func-div {
    z-index: 4;
    top: 43%;
    left: 85%;
    gap: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .about-mon {
    display: block;
    max-width: 450px;
    object-fit: contain;
  }
  .about {
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-top: 0;
  }
  .slider-div {
    order: 2;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 654px) {
  .modal {
    width: 90%;
    min-height: 450px;
    height: auto;
  }
  .desc-about {
    font-size: 16px;
    line-height: 1.6;
  }
}
@media screen and (max-width: 594px) {
  .slider-div {
    width: 97%;
  }
  .splide__arrow--next {
    left: 10% !important;
  }
}
@media screen and (max-width: 466px) {
  .about-mon {
    max-width: 360px;
  }
  .func-row button {
    width: 40px;
    height: 43px;
    font-size: 36px;
    display: grid;
    place-items: center;
  }
  .value {
    width: 96px;
    height: 43px;
    display: grid;
    place-items: center;
  }
  .mint-func-div-cont .mint-now {
    width: 180px;
  }
  .thumbnail ul li {
    flex: none;
    width: calc(93% / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .thumbnail ul li img {
    max-width: 100%;
    object-fit: contain;
  }
  .thumb-img {
    width: 140px;
  }
  .splide__track--nav > .splide__list > .splide__slide.is-active {
    border: 3px solid #36454f !important;
  }
  .splide__track--nav > .splide__list > .splide__slide {
    border: 3px solid #36454f !important;
  }
  .mint-func-div p {
    display: none;
  }
  .mint-func-div {
    left: 67%;
  }
}
@media screen and (max-width: 430px) {
  .splide__arrow--next {
    left: 12% !important;
  }
  .slider-div {
    padding: 20px 10px;
  }
  .modal {
    width: 90%;
    min-height: 520px;
    height: auto;
  }
  .desc-about {
    font-size: 16px;
    line-height: 1.6;
  }
}
@media screen and (min-height: 857px) and (min-width: 970px) {
  .mint-func-div-cont {
    top: 40%;
  }
}
@media screen and (max-height: 857px) and (min-width: 970px) {
  .mint-func-div-cont {
    top: 40%;
  }
}
@media screen and (max-height: 746px) and (min-width: 970px) {
  .mint-func-div-cont {
    top: 38%;
  }
}
@media screen and (max-height: 671px) and (min-width: 970px) {
  .mint-func-div-cont {
    top: 36%;
  }
}
@media screen and (max-height: 599px) and (min-width: 970px) {
  .mint-func-div-cont {
    top: 34%;
  }
}
