.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 60px;
  height: 70px;
  z-index: 60;
}
.logo {
  max-width: 150px;
  object-fit: contain;
}
.right-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90.26deg, #36454f 32.79%, #9ca631 100%);
  border-radius: 13px;
  height: 100%;
  width: 700px;
}
.nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
}
.social-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.menu-opener,
.menu-closer {
  display: none;
}
@media screen and (max-width: 1042px) {
  .right-header {
    width: 500px;
  }
  .nav-link {
    font-size: 1.3rem;
  }
  .header {
    padding-inline: 10px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    padding-inline: 10px;
    top: 20px;
  }
  .menu-opener {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    background: linear-gradient(90.26deg, #36454f 32.79%, #9ca631 100%);
    width: 40px;
    height: 40px;
  }
  .menu-closer {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.4rem;
    color: white;
  }
  .right-header {
    position: absolute;
    width: 150px;
    height: 240px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
    right: 10px;
    top: -500px;
    border-radius: 0px;
    padding: 10px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 20;
  }
  .open-menu {
    top: 21%;
    opacity: 1;
  }
}
