.roadmap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-inline: 50px;
  width: 100%;
  gap: 1rem;
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.hide-scroll::-webkit-scrollbar,
.cont::-webkit-scrollbar {
  display: none !important;
}
.roadmap .title {
  top: 0rem;
  left: 0rem;
  position: sticky;
  z-index: 4;
}
.cont {
  align-self: center;
  max-width: fit-content;
  overflow-y: scroll;
  max-height: 68vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.roadmap-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 50px;
  position: relative;
  z-index: 3;
  align-self: center;
  max-height: 80%;
}
.roadmap-grid::after {
  content: "";
  position: absolute;
  height: 64%;
  top: 10%;
  z-index: -1;
  width: 3px;
  background: linear-gradient(to bottom, #f8dc00, #58bc01);
  left: 45%;
  transform: translateX(-50%);
}
.lock-cont {
  justify-self: center;
  align-self: center;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lock {
  background: linear-gradient(180deg, #36454f 0%, #99a332 100%);
  box-shadow: 0px 4px 25px #e3bb6f;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  padding: 15px;
}
.line {
  height: 5px;
  width: 100px;
  justify-self: center;
  align-self: center;
}
.line1,
.line3 {
  grid-column: 2/3;
  background-color: #cd9005;
}
.road-grid__title {
  margin-left: 20px;
}
.title2 {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-right: 20px;
  margin-left: 0px;
  justify-self: flex-end;
}
.line2 {
  grid-column: 4/5;
  background-color: #3f722f;
  width: 100%;
}
.road-box {
  background: linear-gradient(
    180deg,
    rgba(54, 69, 79, 0.8) 0%,
    rgba(153, 163, 50, 0.83) 100%
  );
  border-radius: 7px;
  color: white;
  padding: 15px;
  width: 330px;
}
.road-grid__title {
  background: linear-gradient(90.26deg, #36454f 30.21%, #99a332 100%);
  border-radius: 5px;
  height: max-content;
  width: max-content;
  padding: 15px;
  color: white;
  align-self: center;
}
.mobile-line {
  display: none;
}

@media screen and (max-width: 1060px) {
  .mobile-line {
    display: block;
  }
  .line {
    background: linear-gradient(to bottom, #f8dc00, #58bc01);
    width: 5px;
  }
  .line1 {
    grid-column: 3/4;
    height: 90px;
    grid-row: 2/4;
    align-self: center;
    transform: scaleY(1.6);
    justify-self: flex-end;
    transform-origin: top;
  }
  .line2 {
    grid-column: 1/2;
    height: 64%;
    grid-row: 3/6;
    align-self: center;
    justify-self: flex-start;
    margin-top: 12px;
    transform: scaleY(0.92);
    transform-origin: top;
  }
  .line3 {
    grid-column: 3/4;
    height: 156%;
    grid-row: 6/7;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 2rem;
  }
  .line4 {
    grid-column: 1/2;
    height: 57%;
    grid-row: 7/9;
    justify-self: flex-start;
    align-self: flex-start;
    transform-origin: bottom;
    transform: scaleY(1.15);
  }
  .title2,
  .road-grid__title {
    justify-self: center;
    margin: 0;
  }
  .road-box {
    width: 400px;
    position: relative;
    z-index: 4;
  }
  .lock-cont {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    position: relative;
    z-index: 4;
  }
  .lock-cont::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 120%;
    height: 4px;
    background: linear-gradient(to left, #f8dc00, #58bc01);
    z-index: -1;
  }
  .roadmap-grid {
    grid-template-columns: 45px auto 45px;
    grid-template-rows: repeat(8, auto);
    row-gap: 10px;
    margin-top: 2rem;
  }
  .roadmap-grid::after {
    display: none;
  }
  .road-grid__title:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .box1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .box1::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 46px;
    background: linear-gradient(to right, #f8dc00, #58bc01);
    height: 5px;
    top: 57%;
    left: 100%;
  }
  .cont1 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .road-grid__title:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .box2 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .box2::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 46px;
    background: linear-gradient(to right, #f8dc00, #58bc01);
    height: 5px;
    top: 55%;
    left: 100%;
  }
  .box2::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 46px;
    background: linear-gradient(to right, #f8dc00, #58bc01);
    height: 5px;
    top: 55%;
    right: 100%;
  }
  .cont2 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .road-grid__title:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  .box3 {
    grid-column: 2/3;
    grid-row: 8/9;
  }
  .box3::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 46px;
    background: linear-gradient(to right, #f8dc00, #58bc01);
    height: 5px;
    top: 50%;
    right: 100%;
  }
  .cont3 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .roadmap .title {
    align-self: center;
    font-size: 1.7rem;
  }
  .roadmap-grid {
    grid-template-columns: 10px auto 10px;
  }
  .road-box {
    width: 350px;
  }
  .box1::after,
  .box2::after,
  .box2::before,
  .box3::before {
    width: 10px;
  }
  .lock-cont::before {
    width: 106%;
  }
  .line1 {
    transform: scaleY(1.8);
  }
  .line2 {
    margin-top: 0px;
    transform: scaleY(0.921);
  }
  .line3 {
    height: 168%;
  }
  .line4 {
    transform: scaleY(1.132);
    height: 56%;
  }
}
