.road-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #021816;
  width: 100%;
  padding-top: 50px;
}
.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 50px;
  width: 100%;
  gap: 1rem;
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
}
.hide-scroll::-webkit-scrollbar,
.cont::-webkit-scrollbar {
  display: none !important;
}
.roadmap .cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.cont {
  align-self: center;
  max-width: fit-content;
  overflow-y: scroll;
  max-height: 68vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.roadmap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem;
}
.grid-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
.grid-img {
  align-self: center;
}
.grid-text h1 {
  font-size: 53px;
  line-height: 53px;
  color: #73d400;
}
.grid-text p {
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
  max-width: 580px;
}
