.team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 50px;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}
.title {
  background: linear-gradient(90.26deg, #e09500 0.74%, #0b673f 100%);
  border-radius: 13px;
  font-size: 2.4rem;
  color: white;
  padding: 15px 40px;
  top: 0;
  left: 0;
  position: sticky;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.4);
}
.team-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  flex-direction: column;
  width: 100%;
  row-gap: 50px;
}
@media screen and (max-width: 800px) {
  .team {
    padding: 2rem 20px;
  }
}
@media screen and (max-width: 420px) {
  .team {
    padding: 2rem 10px;
  }
}
