.hero {
  max-height: calc(100vh - 70px);
  padding-top: 70px;
  overflow-y: auto;
}
.screen-div {
  position: absolute;
  left: 27%;
  top: 29%;
}
.screen-div img {
  max-width: 450px;
}
.btn-div {
  top: 23%;
  left: 37%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.btn-div button,
.mint-now {
  width: 189px;
  height: 64px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(90.26deg, #36454f 32.79%, #9ca631 100%);
  border-radius: 13px;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1630px) {
  .screen-div {
    left: 24%;
  }
}
@media screen and (max-width: 1328px) {
  .screen-div {
    left: 20%;
  }
}
@media screen and (max-width: 1180px) {
  .screen-div {
    left: 15%;
  }
}
@media screen and (max-width: 970px) {
  .screen-div {
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
  }
  .screen-div img {
    max-width: 360px;
  }

  .btn-div {
    top: 18%;
    left: 30%;
  }
  .btn-div button {
    width: 190px;
  }
}
@media screen and (max-width: 518px) {
  .screen-div {
    top: 58%;
  }
}
@media screen and (min-height: 857px) and (min-width: 970px) {
  .screen-div {
    top: 35%;
  }
}
@media screen and (max-height: 857px) and (min-width: 970px) {
  .screen-div {
    top: 29%;
  }
}
@media screen and (max-height: 804px) and (min-width: 970px) {
  .screen-div {
    top: 24%;
  }
}
@media screen and (max-height: 739px) and (min-width: 970px) {
  .screen-div {
    top: 20%;
  }
}
@media screen and (max-height: 688px) and (min-width: 970px) {
  .screen-div {
    top: 28%;
  }
  .screen-div img {
    max-width: 350px;
  }
  .btn-div {
    top: 18%;
    left: 31%;
  }
}
@media screen and (max-height: 620px) and (min-width: 970px) {
  .screen-div {
    top: 27%;
  }
}
@media screen and (max-height: 770px) and (max-width: 970px) {
  .screen-div {
    top: 53%;
  }
}
@media screen and (max-height: 670px) and (max-width: 970px) {
  .screen-div {
    top: 50%;
  }
}
@media screen and (max-height: 587px) and (max-width: 970px) {
  .screen-div {
    top: 48%;
  }
}
