.bottom-cont {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding-top: 120px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom {
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  padding-bottom: 4rem;
  width: 100%;
}
@media screen and (max-width: 970px) {
  .bottom-cont {
    background-size: cover !important;
  }
}
