@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: Hagin-Caps;
  src: url("./Assets/font/Hagin\ Caps\ Medium.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hagin-Caps", sans-serif;
}
p {
  font-family: "Raleway", sans-serif !important;
}
