.team-row {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 40px;
  width: 100%;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.4);
}
.grid-2 {
  grid-template-columns: 1fr 0.2fr;
}
.order {
  grid-column: 2/3;
  grid-row: 1/2;
}
.black-box {
  background: linear-gradient(
    129deg,
    rgba(0, 0, 0, 0.7) 1.58%,
    #000000 96.78%,
    rgba(0, 0, 0, 0.4) 96.79%
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  padding: 15px;
}
.right-row {
  background: linear-gradient(180deg, rgba(118, 34, 5, 0.7) 0%, #947743 100%);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}
.row-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.row-top h2 {
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.row-top p {
  color: #dddddd;
  font-size: 1.2rem;
}
.team-desc {
  line-height: 1.5;
  color: white;
  text-align: left;
}
.right-row .social-div {
  margin-top: 15px;
  gap: 10px;
}
.right-row .social-div svg {
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
}
@media screen and (max-width: 1400px) {
  .team-row {
    grid-template-columns: 0.4fr 1fr;
    column-gap: 20px;
  }
  .grid-2 {
    grid-template-columns: 1fr 0.4fr;
  }
  .black-box,
  .right-row {
    padding: 10px;
  }
}
@media screen and (max-width: 984px) {
  .team-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .black-box {
    width: 450px;
    padding: 40px;
  }
}
@media screen and (max-width: 490px) {
  .black-box {
    width: 350px;
  }
  .row-top {
    gap: 10px;
  }
  .row-top h2 {
    font-size: 1.4rem;
  }
  .row-top p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 420px) {
  .team-desc {
    font-size: 1rem;
  }
  .row-top h2 {
    font-size: 1.1rem;
  }
  .black-box {
    width: 100%;
    padding: 40px 0px;
  }
}
